body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  color: white;
  background-color: black;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
  color: black;
}

.field__textinput:focus {
  outline: 0;
}



/*
  Section styles
 */
.card { 
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn:focus, .btn:active {
  outline: 0 !important;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange:active, .btn--orange:focus, .btn--orange:hover {
  border-color: #cc0a00;
  color: white;
  background-color: #cc0a00;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--blue:hover {
  border-color: #4d4d4d;
  background-color: #4d4d4d;
  color: white;
}

.btn--blue:focus {
  border-color: green;
  background-color: green;
  color: white;
  outline: 0;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--yellow:hover {
  border-color: #4d4d4d;
  background-color: #4d4d4d;
  color: white;
}

.btn--yellow:focus {
  border-color: green;
  background-color: green;
  color: white;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text__top {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

/* Battle Scene */

#player1, #player2 {
  background-color: #336699;
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0 1em;
}

.span-float-right {
  float: right;
}

.progress-edit {
  background-color: firebrick !important;
}

#attackButton {
  background-color: #FF4136;
  color: white;
}

#attackButton:hover {
  border-color: #cc0a00;
  background-color: #cc0a00;
  color: white;
}

#attackButton:active {
  border-color: firebrick;
  background-color: firebrick;
  color: white;
  margin: 0 auto;
}

#battleground > h2 {
  text-align: center;
}

#battleground > button {
  text-align: center !important;
}

.player-image{
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 5%;
} 

#game-reset {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}

#game-reset:hover {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
}


